<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119969049092-r0hmllsbq8j192oprg81anp46v9d6ic9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119969049092-r0hmllsbq8j192oprg81anp46v9d6ic9</string>
	<key>API_KEY</key>
	<string>AIzaSyCDyHwVqvM6Wuav47UTrXz57GtxS3VfZdE</string>
	<key>GCM_SENDER_ID</key>
	<string>119969049092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Zawya</string>
	<key>PROJECT_ID</key>
	<string>zawya-ad</string>
	<key>STORAGE_BUCKET</key>
	<string>zawya-ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119969049092:ios:ed121cc40e2a325cf92351</string>
</dict>
</plist>